
/*  Глобальные стили страницы */
html, body, .v-application {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ffffff;
    /* По умолчанию используем Inter */
    font-family: 'Red Hat Display', sans-serif, font-weight: 700;
}
body {
    font-family: 'Red Hat Display', sans-serif;
}


